/* Général */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

.container {
    width: 100%;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.actions {
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

.timeline-container {
    overflow-x: auto;
    width: 100%;
    max-width: 90%;
    margin: 20px 20px;
    padding: 80px 80px;
}

.timeline {
    display: flex;
    align-items: center;
    gap: 50px; /* Espacement entre les éléments */
    transition: transform 0.3s ease;
}

.timeline-item {
    position: relative;
    transition: transform 0.3s ease;
}

.timeline-item img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.timeline-item.selected img {
    transform: scale(1.8); /* Met l'image en surbrillance */
    border: 5px solid #007bff;
}

.timeline-item button {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 5px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: none;
}

.timeline-item.delete-mode button {
    display: block;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
}

input {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
}

button[type="submit"] {
    background-color: #28a745;
}

button[type="submit"]:hover {
    background-color: #218838;
}

#closeModalBtn {
    background-color: #6c757d;
}

#closeModalBtn:hover {
    background-color: #5a6268;
}
